<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net47" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net47" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net47" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net47" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net47" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="Semver" version="2.0.4" targetFramework="net47" />
  <package id="Serilog" version="2.6.0" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net47" />
  <package id="Spectre.System" version="0.7.0" targetFramework="net47" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net47" developmentDependency="true" />
</packages>